body {
background-color: aqua;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@900&display=swap');

h1 {
    font-family: "Libre Baskerville", Helvetica, sans-serif;
}

p {
     font-family: "Roboto", sans-serif;
}

h1 {
    background-color: red;
}

p {
    background-color: blueviolet;
}

h3 {
font-family: "Roboto", georgia;
}

body {
background-color: burlywood;
margin-left: 40%;
margin-right: 40%;
}

.german-flag {
    display: flex;
    flex-direction: column;
    
}

.top {
    background-color: black;
    height: 80px;
    width: 320px;
}

.middle {
    background-color: red;
    height: 80px;
    width: 320px;
}

.bottom {
    background-color: yellow;
    height: 80px;
    width: 320px;

}