body {
background-color: aqua;
}

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital@1&family=Hind:wght@300&display=swap');

h1 {
    font-family: "Expletus Sans", Arial, Helvetica, sans-serif;
}

p {
     font-family: "Hind", sans-serif;
}

h1 {
    background-color: red;
}

p {
    background-color: blueviolet;
}

.german flags{


}

.top {

}

.middle {

}

. bottom {
    
}